.container {
  max-width: 120rem; //1200px because we set the root font-size = 10px
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  min-height: 50rem;
  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
}

.content {
  display: flex;
}

nav.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1; //Element should take up as much space as possible

  height: 80rem;


}
