/*Basic reset using universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Include padding and border in overall height and width */ }

body {
  /* Always specify font-family in body */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
  padding: 30px; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-delay: 3s; */
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: transform .5s; }
  .heading-secondary:hover {
    -moz-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
    -o-transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: transform .2s;
  position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    /* x y blur color */ }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777;
    padding: 15px 40px; }
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--white::after {
    background-color: #fff; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.learn-more {
  padding: .2rem 1rem;
  display: inline-block;
  transition: all .2s; }
  .learn-more:link, .learn-more:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a; }
  .learn-more:hover {
    background-color: #55c57a;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translateY(-2px); }
  .learn-more:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    color: #fff; }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    /* Animation */
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
  /* Check out clippy */
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.header__logo {
  height: 35px; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.row {
  width: 114rem;
  margin: 0 auto;
  margin-bottom: 0; }
  .row:not(:last-of-type) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 6rem; }
  .row div.col-1-2 {
    width: calc((100% - 6rem)/2); }
  .row div.col-1-3 {
    width: calc((100% - (6rem) * 2)/3); }
  .row div.col-2-3 {
    width: calc(((100% - (6rem) * 2)/3) * 2 + 6rem); }
  .row div.col-1-4 {
    width: calc(((100% - 3 * 6rem)/4)); }
  .row div.col-2-4 {
    width: calc((100% - 6rem)/2); }
  .row div.col-3-4 {
    width: calc(((100% - 3 * 6rem)/4) * 3 + 2 * 6rem); }
