/*Basic reset using universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* Include padding and border in overall height and width */
}

body {
    /* Always specify font-family in body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $color-grey-dark;
    line-height: 1.7;
    padding: 30px;
}

html {
    font-size: 62.5%;
}