.heading-primary {
    color: $color-white;
    text-transform: uppercase;
}

.heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 3s; */
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
} 

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: transform .5s;

    &:hover {
        -moz-transform: skew(0deg, 5deg);
        -webkit-transform: skew(0deg, 5deg);
        -o-transform: skew(0deg, 5deg);
        -ms-transform: skew(0deg, 5deg);
        transform: skew(0deg, 5deg);
    }
}