.row {
    width: $grid-width;
    background-color: rgb(114, 238, 205);
    margin: 0 auto;
    margin-bottom: 0;
    margin-right: 0;
    &:not(:last-of-type) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;
    
    [class^="col"] {
        background-color: darkgreen;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
    div {
        &.col-1-2 {
            width: calc((100% - #{$gutter-horizontal})/2);
        }

        &.col-1-3 {
            width: calc((100% - (#{$gutter-horizontal}) * 2)/3);
        }

        &.col-2-3 {
            width: calc(((100% - (#{$gutter-horizontal}) * 2)/3) * 2 + #{$gutter-horizontal});
        }

        &.col-1-4 {
            width: calc(((100% - 3 * #{$gutter-horizontal})/4));
        }

        &.col-2-4 {
            width: calc((100% - #{$gutter-horizontal})/2);
        }

        &.col-3-4 {
            width: calc(((100% - 3 * #{$gutter-horizontal})/4) * 3 + 2 * #{$gutter-horizontal});
        }
    }
}