.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: transform .2s;
    position: relative;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 10px 20px rgba($color-black, .2); 
        /* x y blur color */
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 5px 20px rgba($color-black, .2); 
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        padding: 15px 40px;
    }
    
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 100px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--white::after {
        background-color: $color-white;
    }
    
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

.learn-more {

    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;

    
    }
    padding: .2rem 1rem;
    display: inline-block;
    transition: all .2s;
    &:hover {
        background-color: $color-primary;
        box-shadow: 0px 5px 20px rgba($color-black, .2);
        color: $color-white;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0px 5px 10px rgba($color-black, .2);
        transform: translateY(2px);
        color: $color-white;
    }
}
